body{
    background: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

header,footer{
    width: 100%;
    height: 30px;
    background: #cccccc;
    color: black;
    text-align: center;
    line-height: 30px;
}

/*Main is a flex item and Flex container*/
main{ 
    background: white;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}
section {

background: #324252;
color:white;
text-align: center;
display: flex; 
justify-content: center; /* For horizontal alignment */
align-items: center; /* For vertical alignment */

}
section {flex-grow: 1;}

nav,aside{

    background: white;
    color:black;
    margin: 5px;
    flex-basis: 100px;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
   
    
}
.game-status {
    
    margin-bottom: 15px;
    display: flex;/*whos next/cursor align the same line */
    justify-content: space-evenly;/*make next/reset has space eventlyr*/
  }


.game-container {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr ;
    grid-template-rows: repeat(3, 0.5fr);
    
    /* width:60%; */
    /*show grid grid-column-gap: 4px;
    grid-row-gap: 4px;*/
}
.game-box{
    cursor: pointer;
    border: 2px solid white;
    border-radius: 2px;
    font-weight: bold;
    font-size: 5em;/*em=pixels/16; 1em=current font size. The default text 16px*/
    display: flex;
    justify-content: center;/*center X or O*/
    /* background:#5dc1d8; */
    height: 100px;
    width:100px; 
}
.player{
    font-size: 13pt;
    display: flex;
    justify-content: space-around;
    margin-top:5px ;
   
    
}
.next-turn{
    cursor: pointer;

}
.reset{
    cursor:pointer;
    margin-top: 10px;
}
.reset:hover{
    color:#ef8318
}
/* add mobile device*/
@media screen and (max-width:600px){


    main{
        flex-direction: column;
    }
    section{
        order:-1;
    }
}